<div class="four columns menu">
  <p><a href="{{ .Site.BaseURL }}">Accueil</a></p>
  <p>
    {{ range where .Site.Pages.ByWeight.Reverse "Type" "projets" }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a><br>
    {{ end }}
  </p>
  <p>
    <a href="/compagnie">Compagnie</a><br>
    <a href="/contacts">Contacts</a>
  </p>
  {{ if isset .Params "imgs" }}
  <div class="vignettes-container-menu mt5 wow fadeInUp">
    {{ range $index, $element := .Params.imgs }}
    <img src="/img/{{ $element }}" alt="{{ $element }}" class="vignette" onclick="showDivs(slideIndex = {{ add $index 1 }} )">
    {{ end }}
  </div>
  {{ end }}
  {{ if isset .Params "menu" }}
  <div class="infos-menu wow fadeInUp">
    <hr class="na2 max-width-50 mt5">
    {{ .Params.menu | markdownify }}
  </div>
  {{ end }}

</div>
